@model MIS4200Kuczek.Models.Enrolls

@{
    ViewBag.Title = "Delete Enrolls";
}

<h2>Delete Enrolls</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Enrolls</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.course.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.letterGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.letterGrade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
