@model IEnumerable<MIS4200Kuczek.Models.Enrolls>

@{
    ViewBag.Title = "Enrolls Index";
}
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {background-color: #f2f2f2}
       
        tr:hover {background-color: #dbd9d5;}
    </style>
</head>

<h2>Enrolls Roster</h2>

<p>
    <a href="~/Enrolls/Create" class="btn btn-primary">Create New</a>
    <!--@Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.course.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.letterGrade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.course.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.letterGrade)
        </td>
        <td>
            <i class="glyphicon glyphicon-edit"></i>
            @Html.ActionLink("Edit", "Edit", new { id = item.enrollsID }) |
            <i class="glyphicon glyphicon-list"></i>
            @Html.ActionLink("Details", "Details", new { id = item.enrollsID }) |
            <i class="glyphicon glyphicon-trash"></i>
            @Html.ActionLink("Delete", "Delete", new { id = item.enrollsID })
        </td>
    </tr>
}

</table>
